[defaults]

# (pathlist) Comma separated list of Ansible inventory sources
inventory = ./ansible/inventory

# (tmppath) Temporary directory for Ansible to use on the remote.
remote_tmp = /tmp

# (integer) This is the default timeout for connection plugins to use.
timeout = 60

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking = False

# (pathspec) Colon separated paths in which Ansible will search for Roles.
roles_path = ~/.ansible/roles:./ansible/roles

# (string) Set the main callback used to display Ansible output. You can only have one at a time.
# You can have many other callbacks, but just one can be in charge of stdout.
# See :ref:`callback_plugins` for a list of available options.
stdout_callback = yaml

# (string) Make ansible transform invalid characters in group names supplied by inventory sources.
force_valid_group_names = ignore

# (list) Accept list for variable plugins that require it.
vars_plugins_enabled = host_group_vars,community.sops.sops

# (string) Path to the Python interpreter to be used for module execution on remote targets, or an automatic discovery mode. Supported discovery modes are ``auto`` (the default), ``auto_silent``, ``auto_legacy``, and ``auto_legacy_silent``. All discovery modes employ a lookup table to use the included system Python (on distributions known to include one), falling back to a fixed ordered list of well-known Python interpreter locations if a platform-specific default is not available. The fallback behavior will issue a warning that the interpreter should be set explicitly (since interpreters installed later may change which one is used). This warning behavior can be disabled by setting ``auto_silent`` or ``auto_legacy_silent``. The value of ``auto_legacy`` provides all the same behavior, but for backward-compatibility with older Ansible releases that always defaulted to ``/usr/bin/python``, will use that interpreter if present.
interpreter_python = auto_silent

[ssh_connection]

# increase ControlPersist to improve performance
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s

# enabling pipelining reduces the number of ssh operations required to
# execute a module on the remote server, this can result in a significant
# performance improvement when enabled, however when using "sudo:" you must
# first disable 'requiretty' in /etc/sudoers
pipelining = True
