# ===============================================================
# Traefik Proxy
# ref: https://doc.traefik.io/traefik/
# ===============================================================

TIMEZONE=UTC

# Traefik Proxy
TRAEFIK_IMAGE=docker.io/traefik:v3.2
TRAEFIK_CONTAINER_NAME=traefik-proxy-app
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_DNS_MAIN=<example.com>
TRAEFIK_DNS_SANS=*.<example.com>,*.local.<example.com>
TRAEFIK_DASHBOARD_DOMAIN=traefik.<example.com>
TRAEFIK_ROOT_DIR=/opt/docker/traefik-proxy

# Log Configuration
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_LOG_FORMAT=json
TRAEFIK_LOG_FILE_PATH=/dev/stdout
TRAEFIK_ACCESS_LOG_FORMAT=json
TRAEFIK_ACCESS_LOG_FILE_PATH=/dev/stdout

# ACME Configuration
# ref: https://doc.traefik.io/traefik/https/acme/
TRAEFIK_ACME_EMAIL=<your_email>
TRAEFIK_ACME_DNS_PROVIDER=cloudflare
TRAEFIK_CF_DNS_API_TOKEN=<your_cloudflare_api_token>

# ===============================================================
# Whoami
# ===============================================================

# Whoami
WHOAMI_IMAGE=docker.io/containous/whoami:v1.10
WHOAMI_CONTAINER_NAME=traefik-proxy-whoami
WHOAMI_DOMAIN=whoami.<example.com>
